*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: aliceblue;
}


a{
    text-decoration: none;
}

.bg{
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}

i{
    position: absolute;
    right: 3px;
    top: -39px;
    font-size: 20px;
    padding: 7px 8px;
    background-color: rgb(56, 7, 102);
    color: white;
}

.headline{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.096);
    width: 25rem;
    height: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem 2rem;
    /* gap: 8rem; */
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 5px solid #454545; */
    position: relative;
    border-radius: 2%;
}

.info{
    display: flex;
    align-items: center;
    gap: 8rem;
    /* position: relative; */
}


.noti{
    font-size: 1rem;
    color: rgb(26, 26, 117);
}

.mark{
    background-color: rgba(255, 181, 255, 0.212);
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    height: fit-content;
    margin-bottom: 3px;
    color: blueviolet;
    display: inline-block;
 
}

.divider{
    width: 22rem;
    height: .1rem;
    background: #4444441e;
    position: absolute;
    top: 80px;
}

.divider-2{
    width: 22rem;
    height: .1rem;
    background: #4444441e;
    position: absolute;
    top: 260px;
}

.profile img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgb(129, 129, 129);
    
}



.profile-info{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    left: 20px;
    top: 120px;
}

.profile-info-2{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    left: 20px;
    top: 290px;
}

.time{
    display: inline-block;
    padding-top: 5px ;
    color: rgba(0, 0, 0, 0.342);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1.2rem;
    /* display: inline-block; */
    margin-top: -50px;
}

.btn-1{
    padding: 10px 15px;
    background-color: rgb(126, 36, 209);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.212);
    outline: none;
    border-style: none;
    transition: .5s all linear;
}

.btn-1:hover{
    background-color: white;
    color: rgb(126, 36, 209) ;
}

.btn-2{
    padding: 10px 15px;
    background-color: rgb(218, 218, 218);
    color: rgb(27, 27, 27);
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.212);
    outline: none;
    border-style: none;
    transition: .5s all linear;
}

.btn-2:hover{
    background-color:rgb(126, 36, 209);
    color: white ;
}


